<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to "Show", article_path(article) %></td>
      <td><%= link_to "Edit", edit_article_path(article) %></td>
      <td><%= link_to "Destroy", article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
    <% if @articles.size == 0 %>
        <em>Nenhum artigo cadastrado.</em>
    <% end %>
</table>

<p>
    <%= link_to "Novo artigo", new_article_path %>
</p>